.form-box {
  max-width: 380px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 2%;
}

@media screen and (min-width: 500px){
  .form-box {
    width: 380px;
  }
}

.signin-box {
  min-height: 440px;
}

.login-box {
  min-height: 350px;
}

.header-form {
  align-self: center;
  margin-bottom: 15px;
}

.auth-link-container {
  display: flex;
  justify-content: end;
  margin-top: auto;
  padding-top: 12px;
}