



.container{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    width:100%;
    /* Created with https://www.css-gradient.com */
    /* Created with https://www.css-gradient.com */
    /* Created with https://www.css-gradient.com */
    /* Created with https://www.css-gradient.com */
    /* Created with https://www.css-gradient.com */
    /* Created with https://www.css-gradient.com */
    background: #6BB273;

    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSI+CjxyZWN0IHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSIgZmlsbD0iIzRmNjM4ZCI+PC9yZWN0Pgo8cGF0aCBkPSJNMCAxNUw3LjUgMEwxNSAxNVoiIGZpbGw9IiMzMDMzNTUiPjwvcGF0aD4KPC9zdmc+");
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;
}

.form-box{
    width:380px;
    background-color: #D2E4FD;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    border-radius:2%;
}

.signin-box{
    min-height:440px;
}

.login-box{
    min-height:350px;
}

.header-form{
    align-self: center;
    margin-bottom:15px;
}

.formik-field-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 38px;
    background-color: #e8f3e8;
    margin-top: 10px;
    border-radius: 7px;
}

.formik-field, .password-input{
    font-family: Avenir, sans-serif;
    font-size: 1.5rem;
    width: 100%;
    height: 38px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

input:focus {
    outline:none !important;
}

.formik-field:focus, .password-input:focus {
    border-top: 3px solid #3A9AB9;
    border-right: 3px solid #3A9AB9;
    border-bottom: 3px solid #3A9AB9;
}

.formik-field-container:focus-within {
    border-top: 3px solid #3A9AB9;
    border-left: 3px solid #3A9AB9;
    border-bottom: 3px solid #3A9AB9;
}

.error-icon {
    border-top: 2px solid #FF6565;
    border-left: 2px solid #FF6565;
    border-bottom: 2px solid #FF6565;
}

.error-field {
    border-top: 2px solid #FF6565;
    border-right: 2px solid #FF6565;
    border-bottom: 2px solid #FF6565;
}

.custom-error-message{
    color: #FF6565;
    font-size: 1.3rem;
}

.password-container {
    width: 100%;
    position: relative;
}

.password-image {
    position: absolute;
    top: 10px;
    right: 10px;
}

.auth-link-container{
    display: flex;
    justify-content: end;
    margin-top: auto;
    padding-top: 12px;
}

.auth-link {
    font-family: inherit;
    text-decoration: none;
    font-size: 1.7rem;
    color: #007bff;
}

.auth-link:hover {
    text-decoration: underline #007bff;
}