@font-face {
    font-family: 'DefaultFonts';
    src: local('DefaultFont'), url(./assets/fonts/IntroCondLight.otf)
}

* {
    font-family: DefaultFonts, sans-serif;
}

body{
    margin: 0 !important;
    padding: 0 !important
}
