@font-face {
  font-family: 'DefaultFonts';
  src: local('DefaultFont'), url(./assets/fonts/IntroCondLight.otf);
}

@font-face {
  font-family: 'GilroyHeavyItalic';
  src: local('GilroyHeavyItalic'), url(./assets/fonts/GilroyHeavyItalic.woff);
}

@font-face {
  font-family: 'AvenirBold';
  src: local('AvenirBold'), url(./assets/fonts/AvenirBold.ttf);
}

@font-face {
  font-family: 'AvenirRegular';
  src: local('Avenir'), url(./assets/fonts/AvenirRegular.ttf);
}

@font-face {
  font-family: 'IntroCondBlack';
  src: local('IntroCondBlack'), url(./assets/fonts/IntroCondBlack.otf);
}

@font-face {
  font-family: 'Vibes';
  src: local('Vibes'), url(./assets/fonts/GoodVibesPro.ttf);
}

@font-face {
  font-family: 'MabryPro';
  src: local('MabryPro'), url(./assets/fonts/MabryPro-Medium.ttf);
}

html {
  min-height: 100%;
  position: relative;
  font-size: 10px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  overflow-y: scroll; /* this line fixed bug with moving page while hiding scrollbar  */
}

* {
  font-size: 2rem;
}

@media screen and (min-width: 2560px) {
  * {
    font-size: 4rem;
  }
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  [data-aos-delay] {
    transition-delay: 0ms !important;
  }
}
