.custom-menu {
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.custom-menu-item{
    display: flex;
    flex-direction: row;
    margin: 5px 20px;
    position: relative;
}

.custom-menu-item:hover {
    transition: none;
    animation: none;
    background: none !important;
}

.custom-menu-item:after {
    opacity: 0;
    position : absolute;
    width : 100%;
    height : 1px;
    bottom: 0;
    right: 0;
    content: "";
    border-top: 1px solid #000;
    transition: opacity 1000ms ease;
}

.custom-menu-item:hover:after {
    opacity: 1;
}

@keyframes szh-menu-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*noinspection ALL*/
.szh-menu--state-opening {
    opacity: 0;
    animation: szh-menu-show 15s ease-out;
}

/*noinspection ALL*/
.szh-menu--state-closing {
    animation: szh-menu-hide-slide-right 15s ease-in forwards;
}
