.mySwiper2 {
  height: 550px;
  max-width: 500px;
  --swiper-navigation-color: black;
  --swiper-pagination-color: black;
  --swiper-theme-color: black;
}

.mySwiper {
  height: 200px;
  max-width: 500px;
  box-sizing: border-box;
  padding: 10px 0;
}

@media screen and (max-width: 899px) {
  .mySwiper2 {
    width: 400px;
    height: 450px;
  }

  .mySwiper {
    width: 400px;
    height: 150px;
  }
}

@media screen and (max-width: 699px) {
  .mySwiper2 {
    width: 300px;
    height: 350px;
  }

  .mySwiper {
    width: 300px;
    height: 120px;
  }
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
