.mySwiper2 {
    height: 550px;
    width: 500px;
}

.mySwiper {
    height: 250px;
    width: 500px;
    box-sizing: border-box;
    padding: 10px 0;
}

/*noinspection ALL*/
.swiper-button-next::after, .swiper-button-prev::after {
    color: black;
}


/*noinspection ALL*/
.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

/*noinspection ALL*/
.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}
