
.swiper {
    width: 100%;
    height: 80vh;
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
}

.swiper-slide {

    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #fff;
}

.parallax-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}


.swiper-slide .text {
    font-family: YouthTouch, serif;
    font-size: 7.5rem;
    line-height: 1.5;
}

.comments {
    background: mistyrose;
    display: flex;
    align-items: center;
    padding: 90px 90px 200px;
}

@media screen and (min-height: 1024px){
    .comments {
        min-height: 80vh;
    }
}

.comment{
    height: 85%;
    font-family: MabryPro, sans-serif;
    background-color: lightpink;
    text-align: center;
    color: #3f0791;
}

.comment p {
    font-size: 2rem;
    display: block;
    height: 175px;
    padding: 100px 40px 40px;
}

.comment p:first-child::before {
    content: open-quote;
}

.comment p:first-child::after {
    content: close-quote;
}


.comment-image-container {
    padding-top: 70px;
    overflow: hidden;
}

.comment-container {
    height: 100%;
    width: 100%;
}

.comment-image{
    object-fit: cover;
    border-radius: 100%;
    height: 160px;
    width: 165px;
}