.products-container {
  height: 100%;
  font-family: AvenirBold, sans-serif;
  font-weight: 1000;
  display: inline-block;
  width: 100%;
  padding: 0 10px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters-container {
  display: flex;
  justify-content: center;
  font-family: Avenir, sans-serif;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 30px 10px 0;
}
