
.filters-container {
    font-family: Avenir, sans-serif;
    padding: 80px 40px 0 35px;
    display: inline-block;
    min-height: 100vh;
    background-color: rgba(217, 217, 217, 0.54);
}

.filters-input {
    width: 97px;
}

.filters-input:first-of-type {
    padding-left: 5px;
}

.products-container {
    display: inline-block;
    font-family: Avenir, sans-serif;
    font-weight: 1000;
}