@font-face {
    font-family: 'CursiveFonts';
    src: local('CursiveFont'),
    url(./../../assets/fonts/GilroyHeavyItalic.woff),
    url(./../../assets/fonts/IntroCondBlack.otf)
}

@font-face {
    font-family: 'DefaultFonts';
    src: local('DefaultFont'), url(./../../assets/fonts/IntroCondBlack.otf)
}