:root {
  --price-input-margin-left: 5px;
}

.filters-input {
  width: calc((50% - var(--price-input-margin-left) / 2) - 5px);
}

.filters-input:first-of-type {
  padding-left: var(--price-input-margin-left);
}

.filters-inputs-container {
  display: inline-block;
}
