

.filters-input {
    width: 50%;
}

.filters-input:first-of-type {
    padding-left: 5px;
}

.filters-inputs-container{
    width: 100%;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline #maxPrice{
    border-radius: 30% !important;
}
